body {
    background-color: #e1e1e1;
    background-repeat: no-repeat;

#header {
text-align: center;
background-color: #2a2a2a;
height: 100px;
width: 1000px;
}	

}
#navbar{ width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 10px 10px 10px 10px;
      list-style: none;
      background-color: #2a2a2a;
       }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
  display: inline;
  padding: 5px;
  font-family: Helvetica, sans-serif;
  color: #ffffff; 
  background-color: #2a2a2a

div div li a{
   font-family: Helvetica, sans-serif;
	font-color: #e1e1e1;
}

/*h1 {font-family:Helvetica; font size: 16px; color:black; text-align: center;}
h2 {font-family:georgia; font size: 14px; color:black;}
h3 {font-family:georgia; font size: 13.5px; color:black;}
h4 {font-family:georgia; font size: 13px; color:black}
p {font-family:Veranda, Geneva, sans-serif; font-size: 14px; line-height: 1.5; color: #000000;}
title {font-family:georgia; font size: 20px; color:black}

a:link {font-weight: bold; text-decoration: none; color: #1a29b1;}*/
a:visited {font-weight: bold; text-decoration: none; color: #0b6f3a;}
a:hover {text-decoration: underline; color: #1a29b1; font-size: 0.9em; font-family: Veranda, Geneva, sans-serif;}
a:active {text-decoration: underline; color: #000000; font-size: 0.9em; font-family: Veranda, Geneva, sans-serif;}


   